.logo {
  font-family: 'Courier New';
}

#hello h1 {
  font-size: 60px;
}

body, html {
  height: 100%;
  font-size: 16px;
}
.btn.btn-dark {
   color: white;
  background-color: transparent;
}

.input-dark, .input-dark[disabled] {
   background-color: transparent;
   color: white;
 }

 .input-dark ::-webkit-input-placeholder, .input-dark -moz-placeholder, .input-dark  -moz-placeholder, .input-dark -ms-input-placeholder  {
   text-align: center;
   color:    white;

 }

#hello {
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  background-image: url("/img/election.pixel.jpg");

  color: white;
}

.event {
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  color: white;


  margin: 0;

  header {
    text-align: center;
    padding-top: 40px;
    padding-top: 0;
    margin-top: 0;
  }
  footer {
    width: 100%;
    bottom: 50px;
    position: absolute;
    text-align: center;
  }

  h1, h3, h4 {
    margin-top: 0px;
  }

  h1 {
    margin-bottom: 0px;
  }

}

#coc {
  background-image: url("/img/camouflage.jpg");
  li {
    margin-top: 10px;
  }
}

#credits {
  background-image: url("/img/stars2.gif");
  h1 {
    font-size: 30px;
    padding-top: 20px;
  }
  h2 {
  }
  .thanks {
    margin-top: 30px;
    li {
      margin-top: 10px;
    }
  }
  footer h3 {
    font-weight: normal;
  }

  a, a:hover {
    color: white;
    text-decoration: underline;
  }

}
p.conditions {
  padding-top: 20px;
  a {
    color: white;
    text-decoration: underline;
  }
}
.btn.rsvp {
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
}


@media only screen 
and (min-width : 320px) 
and (max-width : 568px) { 
  .event header h1 {
    font-size: 55px;
  }

  .event header h3 {
    font-size: 20px;
  }

  .event header h2 {
    font-size: 34px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .event footer h2 {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #closure {
    background-image: url("/img/closure.phone.jpg");
  }

  #exceptions.event {
    background-image: url("/img/exception.phone.jpg");
  }


  #persistence { 
    background-image: url("/img/pbg.phone.jpg")
  }

  #nontrivial {
    background-image: url("/img/cylinder2.phone.jpg");
  }
}

@media (min-width: 569px) and (max-width:767px) {
  .event header h1 {
    font-size: 90px;
  }

  #closure {
    background-image: url("/img/closure.phone.jpg");
  }

  #exceptions {
    background-image: url("/img/exception.phone.jpg");
  }

  #persistence {
    background-image: url("/img/pbg.phone.jpg");
  }

  #nontrivial {
    background-image: url("/img/cylinder2.phone.jpg");
  }

}

@media(min-width:768px){
  .event header h1 {
    font-size: 90px;
  }

  #coc {
    li {
      font-size: 18px;
    }
    h2 {
      font-size: 50px;
    }
  }

  #closure {
    background-image: url("/img/closure.jpg");
    header h1 {
      font-size: 110px;
    }
  }

  #exceptions {
    background-image: url("/img/exception.jpg");
  }

  #persistence {
    background-image: url("/img/pbg.jpg");
  }

  #nontrivial {
    background-image: url("/img/cylinder2.jpg");
  }

}



/* #nontrivial header { */
/*   text-align: center; */
/*   padding-top: 40px; */
/*   padding-top: 0px; */
/*   margin-top: 0; */
/* } */


