<div id="coc" class="event">
  <header>
    <h2>Code of Conduct</h2>
  </header>
  <div class="container">
    <div class="row coc">
      <div class="col-md-6 col-md-offset-3">
        <ul class="unstyled">
          <li>We want to be inclusive; do not engage in homophobic, racist, transphobic, ableist, sexist, or otherwise exclusionary behavior. Don’t make exclusionary jokes. Don't be a jerk.</li>
          <li>Don’t harass people. Unconsented physical contact or sexual attention is harrassment. Consent is explicit; dressing or acting in a certain way is not consent.</li>
          <li>Come and talk to us if someone is bothering you!</li>
          <li>Please be intentional in your actions and humble in your mistakes.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

