<div id="credits" class="event">
  <header>
    <h1>We would like to thank the following:</h1>
  </header>
  <div class="container">
    <div class="row thanks">
      <div class="col-md-4 col-md-offset-4">
        <ul class="unstyled">
          <li>Audio recording has been handled by Taavi Burns and Chris Melito. Chris has also handled most of our podcast production.</li>
          <li>Laura Sutula, who greets people at the door.</li>
          <li>Zoe Daniels, who helps speakers craft their stories.</li>
          <li>The Magpie Taproom, who allowed us to use their space.</li>
          <li>Everyone who came out and shared their stories.</li>
          <li>Everyone who came out and said hi, and listened, and enjoyed themselves.</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 30px">
        <h4><span class="logo">xvzf</span> is a project by <a href="http://twitter.com/wolever">David Wolever</a> and <a href="http://twitter.com/phillmv">Phillip Mendonça-Vieira</a>.</h4>
        <p>Questions? Comments? Reach us at hello@xvzf.io</p>
      </div>
    </div>

  </div>
</div>

