<div id="intro">
  <div class="container">
    <div class="row">
      <div id="logo" class="col-md-6 col-md-offset-1">
        <h1 class="logo">xvzf</h1>
        <h2>A storytelling night for Toronto tech workers.</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h4>Don't be grouped by the work you perform.</h4>
        <p>Life is about more than your startup, your app or what you do at your job.</p>
        <h4 style="margin-top: 40px;">Join us for an evening in a safe, supportive space.</h4> 
        <p>Meet folks you haven't run into before, and listen to people share true, personal stories. Before attending, please read our <a class="coc" href="#coc">code of conduct</a>.</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1" style="margin-top: 20px">
        <p><strong>Join our mailing list</strong> to hear about upcoming events:</p>
        <div id="rsvp-footer">
          <form role="form" class="form-inline" action="https://xvzf.us8.list-manage.com/subscribe/post?u=3864a5354273848f85ceb5cc0&amp;id=02737ca598" method="post">
            <div class="form-group  col-md-10" style="padding-left: 0px; padding-right: 10px;">
              <input type="email" name="EMAIL" class="form-control input-dark" id="email" placeholder="someniceperson@example.com">
            </div>
            <button type="submit" class="btn btn-default">holla</a>
            <!-- mailchimp anti-spam -->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_3864a5354273848f85ceb5cc0_02737ca598" tabindex="-1" value=""></div>
          </form>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <br/>
        <h4>Unable to attend? Check out our podcast.</h4>
        <p>Catch up with previous events. Now on <a href="https://soundcloud.com/xvzf/sets/podcast" target="_blank">soundcloud</a>, <a href="https://itunes.apple.com/ca/podcast/xvzf-true-stories-from-toronto/id904722930" target="_blank">itunes</a> or <a href="http://xvzf.io/podcast.atom" target="_blank">rss</a>.</p>
        <br/>
        <h4>Most recent podcast episodes:</h4>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/195446016&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194524793&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165892210&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-md-6 col-md-offset-1">
        <h4>Finally:</h4>
        <p><a href='/#escape' class="previously btn btn-default">check out our previous events</a></p>
        <p><a href='/#credits' class="about btn btn-default">find out more about us</a></p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>


