<div id="escape" class="event">
  <header>
    <h1>escape</h1>
    <h3>stories about beginnings</h3>
  </header>
  <footer>
    <h2>Thursday, March 19, 2015, 8pm sharp.</h2>
    <!-- <a class="guestlist&#45;event&#45;299361 btn btn&#45;default rsvp" href="#">rsvp now</a> -->
    <a class="btn btn&#45;default rsvp" href="https://guestlistapp.com/events/313707" target="_blank">rsvp now</a>
    <button id="moar" class="btn btn-default rsvp" style="margin-left: 20px">say what?</button>
  </footer>
</div>



<%= partial "partials/intro" %>
<%= partial "partials/coc" %>
<%= partial "partials/credits" %>
