<div id="resolution" class="event last-event">
  <header>
    <h1>resolution</h1>
    <h3>stories about clarity</h3>
  </header>
  <footer>
    <h2>Thursday, January 21, 2015, 8pm sharp.</h2>
    <h3>Dundas Video, 831 Dundas St W</h3>
    <!-- <a class="guestlist&#45;event&#45;299361 btn btn&#45;default rsvp" href="#">rsvp now</a> -->
    <a class="btn btn&#45;default rsvp" href="https://guestlistapp.com/events/322806" target="_blank">rsvp now</a>
    <button id="moar" class="btn btn-default rsvp" style="margin-left: 20px">say what?</button>
  </footer>
</div>


<%= partial "partials/intro" %> 


<%= partial 'partials/coc' %>
<%= partial 'partials/credits' %>



