<% content_for :inside_head do %>
  <meta property="og:site_name" content="xvzf"/>
  <meta property="og:title" content="xvzf6: resolution, Jan 21st 2015" />
  <meta property="og:image" content="http://xvzf.io/img/resolution.postcard.2.jpg" />
  <meta property="og:description" content=">If you work on the internet, this event is for you. Meet folks you haven't run into before, and listen to people share true, personal stories." />
  <meta property="og:url" content="http://xvzf.io/" />


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@xvzfio">
  <meta name="twitter:creator" content="@phillmv">
  <meta name="twitter:title" content="xvzf6: resolution, Jan 21st 2016">
  <meta name="twitter:description" content="A storytelling night for Toronto tech workers.">
  <meta name="twitter:image" content="http://xvzf.io/img/resolution.postcard.jpg">

<% end %>


<div id="resolution" class="event last-event">
  <header>
    <h1>resolution</h1>
    <h3>stories about clarity</h3>
  </header>
  <footer>
    <h2>Thursday, January 21, 2016, 8pm sharp.</h2>
    <h3>Dundas Video, 831 Dundas St W</h3>
    <!-- <a class="guestlist&#45;event&#45;299361 btn btn&#45;default rsvp" href="#">rsvp now</a> -->
    <a class="btn btn&#45;default rsvp" href="https://guestlistapp.com/events/322806" target="_blank">rsvp now</a>
    <button id="moar" class="btn btn-default rsvp" style="margin-left: 20px">say what?</button>
  </footer>
</div>


<%= partial "partials/intro" %> 
<%= partial 'partials/coc' %>
<%= partial 'partials/credits' %>



