<%= partial "partials/intro" %> 

<div id="escape" class="event last-event">
  <header>
    <h1>escape</h1>
    <h3>stories about beginnings</h3>
  </header>
  <footer>
    <h2>Thursday, March 19, 2015, 8pm sharp.</h2>
    <h3>The Magpie, 831 Dundas St W</h3>
    <!-- <a class="guestlist&#45;event&#45;299361 btn btn&#45;default rsvp" href="#">rsvp now</a> -->
    <a class="btn btn&#45;default rsvp" href="https://guestlistapp.com/events/313707" target="_blank">rsvp now</a>
    <button id="moar" class="btn btn-default rsvp" style="margin-left: 20px">say what?</button>
  </footer>
</div>


<div id="closure" class="event">
  <header>
    <h1>closure</h1>
    <h3>stories about endings</h3>
  </header>
  <footer>
    <h3>Featuring stories by:<br/>Amy Leaman, Nick Wolfe, Sarah Capecci and Jenny Zhang</h2>
    <h2>December 4, 2014</h2>
    <!-- <a class="guestlist&#45;event&#45;299361 btn btn&#45;default rsvp" href="#">rsvp now</a> -->
    <!-- <a class="btn btn&#38;#45;default rsvp" href="https://guestlistapp.com/events/299361" target="_blank">rsvp now</a> -->
    <!-- <button id="moar" class="btn btn&#45;default rsvp" style="margin&#45;left: 20px">say what?</button> -->
  </footer>
</div>


<div id="exceptions" class="event">
  <header>
    <h1>exceptions</h1>
    <h3>stories about the unexpected</h3>
  </header>
  <footer>
    <h3>Featuring stories by:<br/>Yusef Dualeh, Antonia Stevens, Christina Truong, and Melina Stathopoulos</h3>
    <h2>September 11, 2014</h2>
  </footer>
</div>

<div id="persistence" class="event">
  <header>
    <h1>persistence</h1>
    <h3>stories about endurance</h3>
  </header>
  <footer>
    <h3>Featuring stories by:<br/>Clint Harwood, Katherine Hague, Steve Shaddick, Dessy Daskalov, and Dan Friedman</h3>
    <h2>May 29, 2014</h2>
  </footer>
</div><!--

--><div id="nontrivial" class="event">
  <header>
    <h1>nontrivial</h1>
    <h3>stories about the difficult</h3>
  </header>
  <footer>
    <h3>Featuring stories by:<br/>Hoss Gifford, Andrew Eberbach, Cecily Carver, Joan Touzet, Mustefa Jo'shen, and Tom Walsham</h3>
    <h2>February 27, 2014</h2>
  </footer>
</div>

<%= partial 'partials/coc' %>
<%= partial 'partials/credits' %>



